.item{
    text-align: center;
    font-family: sans-serif;
    margin: 20px;
}

.item p{
    display: block;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;

}
.item-prices{
    display: flex;
  justify-content: center;
  gap: 10px;
  align-items: baseline;
}

.item-price-new{
    color: #28a745;
  font-size: 1.4em;
  font-weight: bold;
}

.item-price-old{
    color: #999;
    text-decoration: line-through;
    font-size: 1em;
}

.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}