.new-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 90px;


}

.new-products h1{
    margin-top: 100px;
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.new-products hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;

}

.products {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    gap: 10px;
    margin-top: 50px;
    /* padding: 20px; */
     gap: 30px;

}

