.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.popular h1{
    margin-top: 100px;
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;

}

.popular-item{
    display: grid; 
    grid-template-columns: 2fr 4fr 2fr;
    margin-top: 50px;
    gap: 30px;
}

