.hero-container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.hero-image {
 width: 100%;
  height: 100%;
   /*  object-fit: cover;

   */
}



.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}


.hero-content h1{
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}


.hero-content p{
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
} 




.shop-button {
  background-color: #27e2c0;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  color: #171717;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;

}

.shop-button:hover {
  background-color: #1fc2a5;
}




.cards-container {
  display: flex;
  justify-content: center;
  margin-top: -60px;
  padding: 40px 20px;
  background-color: white;
  flex-wrap: wrap;
}



.card {
  width: 300px;
  padding: 50px 70px;
  color: white;
  text-align: center;
  margin: 10px;
  border-radius: 8px;
  font-size: 16px;
}


.card h2 {
  margin: 0;
  font-size: 24px;
}

.card-subtitle {
  margin: 10px 0;
  font-weight: bold;
}

.card-blue {
  background-color: #5af0f0;
}

.card-green {
  background-color: #8cdc33;
}

.card-yellow {
  background-color: #f8bc1a;
}

