.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
    margin-top: 60px;
        /* margin-top: 60px; */


}

.new-collections h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;

    
}

.new-collections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;

}

.collections{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr ;
    margin-top: 50px;
    gap: 30px;
}

.pagination {
    margin-top: 100px;
    display: inline-block;
    font-size: 20px;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 50%;
    font-size: 30px;


    
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 50%
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;}